{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/history.css')}}" />
{% endblock %}

{% block content %}

<div id="history_container">

    <div class="modal">
        <div class="modal-content" id="modal_edit">
            <span class="close-button">&times;</span>
            &nbsp;<br>&nbsp;<br>
            Date: <br>
            <input type="text" id="edit_date" name="edit_date" required size="10"><br>

            Shots: <br>
            <input type="text" id="edit_shots" name="edit_shots"><br>

            <button onclick="editing()"> EDIT SESSION #<span id="id_session"></span> </button>
        </div>
        <div class="modal-content" id="modal_text">
            <h1 id="modal_text_content"></h1>
        </div>
    </div>

    <img id="logo" src="{{url_for('static', filename='img/shotbuddy.png')}}" alt="ShotBuddy">

    <div id="result_table_container">
        <table id="result_table">
            <th>
                <td>SHOTS</td>
                <td>POINTS</td>
                <td>%%</td>
                <td>EDIT</td>
            </th>
        </table>
    </div>


    <div id="logout">
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

    <div id="menu">
        <span class="menu_item">
            <a href="/dashboard">
                <i class="fas fa-chart-line"></i>
            </a>
        </span>
    </div>


</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}