{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/history.css')}}" />
{% endblock %}

{% block content %}

<div id="history_container">

    <img id="logo" src="{{url_for('static', filename='img/shotbuddy.png')}}" alt="ShotBuddy">

    <div id="result_table_container">
        <table id="result_table">
            <th>
                <td>SHOTS</td>
                <td>POINTS</td>
                <td>%%</td>
                <td>EDIT</td>
            </th>
        </table>
    </div>


    <div id="logout">
        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

    <div id="menu">
        <span class="menu_item">
            <a href="/dashboard">
                <i class="fas fa-chart-line"></i>
            </a>
        </span>
    </div>


</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}