#history_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width:100%;
}

#logo{
    width:200px;
    margin: 0 auto;
}

#result_table_container{
    width:320px;
    margin-top:30px;
    color:#FFF;
    font-weight: 300;
    font-size:18pt;
    margin-bottom:300px;
}

#result_table_container table{
    width:100%;
    color:#FFF;
    
}

#result_table_container td, #result_table_container th{
    text-align: center;
    border: 1px solid rgb(138, 138, 138);
}

#result_table_container tr{
    height:30px;
    line-height:30px;
    border-spacing: 10em;
}

#result_table_container .fas:hover{
        cursor:pointer;
}

#menu{
    position:fixed;
    bottom:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100px;
    height:125px;
    text-align: center;
    color:#2f2f2f;
    font-size:25pt;
}

.menu_item{
    height:35px;
    width:35px;
    line-height:35px;
    text-align:center;
    padding:14px;
    margin:10px;
    border-radius: 100%;
    background-color:#FFF;
    opacity: 0.8;
}

.menu_item:hover{
    cursor:pointer;
}