#history_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width:100%;
}

#logo{
    width:200px;
    margin: 0 auto;
}

#result_table_container{
    width:320px;
    margin-top:30px;
    color:#FFF;
    font-weight: 300;
    font-size:18pt;
    margin-bottom:300px;
}

#result_table_container table{
    width:100%;
    color:#FFF;
    
}

#result_table_container td, #result_table_container th{
    text-align: center;
    border: 1px solid rgb(138, 138, 138);
}

#result_table_container tr{
    height:30px;
    line-height:30px;
    border-spacing: 10em;
}

#result_table_container .fas:hover{
        cursor:pointer;
}

#menu{
    position:fixed;
    bottom:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100px;
    height:125px;
    text-align: center;
    color:#2f2f2f;
    font-size:25pt;
}

.menu_item{
    height:35px;
    width:35px;
    line-height:35px;
    text-align:center;
    padding:14px;
    margin:10px;
    border-radius: 100%;
    background-color:#FFF;
    opacity: 0.8;
}

.menu_item:hover{
    cursor:pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal input{
    width:100%;
    margin: 0 auto;
    height:50px;
    line-height:50px;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 15px;
}

.modal button{
    margin: 0 auto;
    width:100%;
    height:50px;
    line-height:44px;
    background-color: rgb(48, 48, 48);
    color:lightgray;
    font-size: 18px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 1.5rem;
    width: 18rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(48, 48, 48);
    color:lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}